@using Application.RestaurantDto.Commands.CreateRestaurant;

@model CreateRestaurantCommand
<h1> Create Restaurant</h1>
<hr />

<div class="row">
	<div class="col-md-4">
		<form action="/Restaurant/Create" method="post">
			<div class="form-group mb-3">
				<label class="control-label" asp-for="Name">Name</label>
				<input class="form-control" type="text" asp-for="Name">
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="Description">Description</label>
				<input class="form-control" type="text" asp-for="Description">
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="Name">Category</label>
				<input class="form-control" type="text" asp-for="Category">
			</div>
			<div class="form-group mb-3">
				<label class="control-label" asp-for="HasDelivery">Has Delivery</label>
				<input type="checkbox" asp-for="HasDelivery">
			</div>
			<div class="form-group mb-3">
				<label class="control-label" asp-for="ContactEmail">Contact Email</label>
				<input class="form-control" type="text" asp-for="ContactEmail">
				<span asp-validation-for="ContactEmail" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="ContactNumber">Contact Number</label>
				<input class="form-control" type="text" asp-for="ContactNumber">
				<span asp-validation-for="ContactNumber" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="City">City</label>
				<input class="form-control" type="text" asp-for="City">
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="Street">Street</label>
				<input class="form-control" type="text" asp-for="Street">
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="PostalCode">Postal Code</label>
				<input class="form-control" type="text" asp-for="PostalCode">
			</div>

			<div class="form-group mb-3">
				<input type="submit" value="Create" class="btn btn-primary">
			</div>
		</form>
	</div>
</div>

@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}